<%- include('header') %>

<div>
    <% if (source === 'card') { %>
    <div>
        <h2><%= cards[0] ? cards[0].set_name : 'Set empty' %></h2>
        <% if (cards && cards.length > 0) { %>
            <table>
                <thead>
                    <tr>
                        <th scope="col">Card Name</th>
                        <th scope="col">HP</th>
                        <th scope="col">Stage</th>
                        <th scope="col">Attacks</th>
                        <th scope="col">Submitted by:</th>
                    </tr>
                </thead>
                <tbody>
                    <% cards.forEach((card) => { %>
                        <tr>
                            <td><%= card.name %></td>
                            <td><%= card.hp %></td>
                            <td><%= card.st_name %></td>
                            <td><%= card.attacks %></td>
                            <td><%= card.username%></td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
        <% } else { %>
            <p>No cards found in this set.</p>
        <% } %>
    </div>
    <% } %>
    <% if (source === 'member') { %>
        <h2><%= member[0] ? member[0].username : 'User' %>'s collection</h2>
        <% if (member && member.length > 0) { %>
            <table>
                <thead>
                    <tr>
                        <th scope="col">Card Name</th>
                        <th scope="col">HP</th>
                        <th scope="col">Stage</th>
                        <th scope="col">Attacks</th>
                    </tr>
                </thead>
                <tbody>
                    <% member.forEach((card) => { %>
                        <tr>
                            <td><%= card.name %></td>
                            <td><%= card.hp %></td>
                            <td><%= card.st_name %></td>
                            <td><%= card.attacks %></td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
        <% } else { %>
            <p>No cards found in this user's collection.</p>
        <% } %>
    <% } %>
    <nav>
    <% if (totalPages > 1) { %>
        <div class="pagination">
            <% for (let i = 1; i <= totalPages; i++) { %>
                <% if (i === currentPage) { %>
                    <span class="current-page"><%= i %></span>
                <% } else { %>
                    <a href="/member?id=<%= userId %>&page=<%= i %>"><%= i %></a>
                <% } %>
            <% } %>
        </div>
    <% } %>
    </nav>
</div>

<%- include('footer') %>