<%- include('header') %>

<div>
    <% if (source === 'card') { %>
    <div>
        <h2><%= cards[0] ? cards[0].set_name : 'Set empty' %></h2>
        <% if (cards && cards.length > 0) { %>
            <table>
                <thead>
                    <tr>
                        <th scope="col">Card Name</th>
                        <th scope="col">HP</th>
                        <th scope="col">Stage</th>
                        <th scope="col">Attacks</th>
                        <th scope="col">Submitted by:</th>
                    </tr>
                </thead>
                <tbody>
                    <% cards.forEach((card) => { %>
                        <tr>
                            <td><%= card.name %></td>
                            <td><%= card.hp %></td>
                            <td><%= card.st_name %></td>
                            <td><%= card.attacks %></td>
                            <td><%= card.username%></td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
        <% } else { %>
            <p>No cards found in this set.</p>
        <% } %>
    </div>
    <% } %>
    <% if (source === 'member') { %>
        <p>Hello</p>
    <% } %>
</div>

<%- include('footer') %>