<%- include('header') %>

    <% if (source === 'card') { %>
        <h2 class="center"><%= cards[0] ? cards[0].set_name : 'Set empty' %></h2>
        <% if (cards && cards.length > 0) { %>
            <div class="card-grid">
                <% cards.forEach((card) => { %>
                    <div class="card-item" style="display: flex;">
                        <img class="center" src="<%= card.image %>" alt="Image of <%= card.name %>">
                    </div>
                <% }); %>
            </div>            
        <% } else { %>
            <p class="center">No cards found in this set.</p>
        <% } %>
    <% if (totalPages > 1) { %>
        <nav class="center numButtons">
            <% for (let i = 1; i <= totalPages; i++) { %>
                <% if (i === currentPage) { %>
                    <span class="current-page"><%= i %></span>
                <% } else { %>
                    <a class="button" href="/member?id=<%= userId %>&page=<%= i %>"><%= i %></a>
                <% } %>
            <% } %>
        </nav>
    <% } %>

    <% } %>
    <% if (source === 'member') { %>
        <h2 class="center"><%= member[0] ? member[0].username : 'User' %>'s collection</h2>
        <% if (member && member.length > 0) { %>
            <div class="card-grid">
                <% member.forEach((card) => { %>
                <div class="card-item">
                    <img class="center" src="<%= card.image %>" alt="Image of <%= card.name %>">
                </div>
                <% }); %>
            </div>
        <% } else { %>
            <p class="center">No cards found in this user's collection.</p>
        <% } %>
    <% } %>
    <% if (totalPages > 1) { %>
        <nav class="center numButtons">
            <% for (let i = 1; i <= totalPages; i++) { %>
                <% if (i === currentPage) { %>
                    <span class="current-page"><%= i %></span>
                <% } else { %>
                    <a class="button" href="/member?id=<%= userId %>&page=<%= i %>"><%= i %></a>
                <% } %>
            <% } %>
        </nav>
    <% } %>

<%- include('footer') %>