<%- include('header') %>

    <% if (source === 'set') { %>
        <h2 class="center"><%= cards[0] ? cards[0].set_name : 'Set empty' %></h2>
        <% if (cards && cards.length > 0) { %>
            <div class="card-grid">
                <% cards.forEach((card) => { %>
                    <div class="card-item" style="display: flex;">
                        <a href="/card?id=<%= card.id %>"><img class="center" src="<%= card.image %>" alt="Image of <%= card.name %>"></a>
                    </div>
                <% }); %>
            </div>            
        <% } else { %>
            <p class="center">No cards found in this set.</p>
        <% } %>
        <% if (totalPages > 1) { %>
        <nav class="center numButtons">
            <% for (let i = 1; i <= totalPages; i++) { %>
                    <a href="/set?id=<%= setID %>&page=<%= i %>"><%= i %></a>
            <% } %>
        </nav>
        <% } %>
    <% } %>

    <% if (source === 'member') { %>
        <h2 class="center"><%= member[0] ? member[0].username : 'User' %>'s collection</h2>
        <% if (member && member.length > 0) { %>
            <% if (authen == userId) { %>
                <nav>
                    <a href="/delete">Remove your card</a>
                </nav>
            <% } %>
            <div class="card-grid">
                <% member.forEach((card) => { %>
                <div class="card-item">
                    <a href="/card?id=<%= card.id %>"><img class="center" src="<%= card.image %>" alt="Image of <%= card.name %>"></a>
                </div>
                <% }); %>
            </div>
        <% } else { %>
            <p class="center">No cards found in this user's collection.</p>
        <% } %>
        <% if (totalPages > 1) { %>
            <nav class="center numButtons">
                <% for (let i = 1; i <= totalPages; i++) { %>
                        <a href="/member?id=<%= userId %>&page=<%= i %>"><%= i %></a>
                <% } %>
            </nav>
        <% } %>
    <% } %>

    <% if (source === 'card') { %>
        <% 
        const date = {
            day: 'numeric',
            month: 'long',
            year: 'numeric'
        }; %>
        <h2 class="center"><%= card.name %></h2>
        <div class="card-details">
            <% if (card) { %>
                <div class="center card-single"><img src="<%= card.image %>" alt="Image of <%= card.name %>"></div>
                <table class="center card-details">
                    <tr>
                        <th>Release date</th>
                        <td><%= card.set_date.toLocaleString('en-GB', date); %></td>
                    </tr>
                    <tr>
                        <th>Set</th>
                        <td><%= card.set_name %></td>
                    </tr>
                    <tr>
                        <th>Stage</th>
                        <td><%= card.st_name %></td>
                    </tr>
                    <tr>
                        <th>HP</th>
                        <td><%= card.hp %></td>
                    </tr>
                    <tr>
                        <th>Attacks</th>
                        <td><%= card.attacks %></td>
                    </tr>
                </table>
            <% } else { %>
                <p class="center">Card not found.</p>
            <% } %>
        </div>
    <% } %>

<%- include('footer') %>