<%- include('header') %>

<div>
    <h3>Welcome <%= name %>!</h3>
    <% if (authen) { %>
        <nav>
            <a class="button" id="special" href="/add">Add trading card!</a></h5> |
            <a href="/member?id=<%= authen %>">Your cards</a>
        </nav>
    <% } else { %>
        <a class="button" href="/login">Login</a>
    <% } %>
    <h4 class="center">Sets</h4>
    <div class="set-grid center">
        <% sets.forEach((set) => { %>
            <div class="set-item">
                <a href="/set?id=<%= set.set_id %>"><img class="center" src="<%= set.set_image %>" alt="Image of <%= set.set_name %>"></a>
            </div>
        <% }); %>
    </div>
    <div>
        <h4 class="center">Members</h4>
        <table class="center">
            <thead></thead>
            <tbody>
                <% users.forEach((user) => { %>
                    <tr>
                        <td><a href="/member?id=<%= user.user_id %>"><%= user.username %></a></td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>    
</div>
<%- include('footer') %>