<%- include('header') %>

<div>
    <h3>Welcome <%= name %>!</h3>
    <% if (authen) { %>
        <h4><a class="button" id="special" href="/add">Add trading card!</a></h4>
    <% } else { %>
        <h4><a class="button" href="/login">Login</a></h4>
    <% } %>
    <div>
        <h4 class="center">Sets</h4>
        <table class="center">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Cards</th>
                    <th scope="col">Date released</th>
                </tr>
            </thead>
            <tbody>
                <% sets.forEach((set)=> {
                    const date = {
                        year: 'numeric',
                        month: 'long',
                        day: 'numeric'
                    }; %>
                    <tr>
                        <td><a href="/set?id=<%= set.set_id %>"><%= set.set_name %></a></td>
                        <td><%= set.set_num_cards %></td>
                        <td><%= set.set_date.toLocaleDateString('en-GB', date) %></td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
    <div>
        <h4 class="center">Members</h4>
        <table class="center">
            <thead></thead>
            <tbody>
                <% users.forEach((user) => { %>
                    <tr>
                        <td><a href="/member?id=<%= user.user_id %>"><%= user.username %></a></td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>    
</div>
<%- include('footer') %>